:root {
  --primary-color: lightBlue;
  --secondary-color: lightGreen;
  --tertiary-color: lightCoral;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  grid-template-rows: repeat(9, 100px);
}

.item1 {
  background: var(--primary-color);
}

.item2 {
  background: var(--secondary-color);
  grid-column: span 10;
}

.item3 {
  background: var(--tertiary-color);
}
